/*
Title:  style.css  
Author:   Anthony Torrez
Date:  July 17, 2012
CSS styles for my MIU 1207 Project
*/

label.error {
	display:block; 
	margin:10px 0; 
	color:red;
}

#rberrorslink {
	display:none;
}

body {
	background: tan;
	overflow: scroll;
}
/*
h1 {
	margin: 5 px;
	border: 4px solid red;
	background: #FFE5B4;
	width: 295px;
	text-align: center;
	line-height: 40px;
	padding: 20 px  ;
	outline-color: yellow;
	font-style: oblique;
*/
}

fieldset {
	border: 3px solid red;
	background: #FFE5B4;
}

p {
	margin: 20 px;
	font-style: italic;
	font-size: 20px;
	text-align: align left;
	text-indent: 20 px;
	font: verdana, tehoma, geneva ;
}

a {
	color: blue;
	font-size: large;
	font-style: italic;
}
a:active {
	color: yellow;
	font-size: large;
	font-style: italic;
}

legend {
	font-style: oblique;
	font-size: large;
	color: blue;
}

li {
	color: purple;
}

input {
	color: black;
}

label {
	position: center;
}
